# 处理缺失数据

In [9]:
import numpy as np
from pandas import Series,DataFrame

* 作为null处理的值

In [10]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [11]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [12]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [13]:
string_data[0] = None

In [16]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [15]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

* 填充0

In [17]:
df = DataFrame(np.random.randn(7, 3))

In [18]:
df

          0         1         2
0  0.728386  0.701290  1.321758
1 -3.060351  1.064182 -1.335612
2  0.142823 -0.927897 -0.037969
3 -0.008153 -0.339031 -2.132086
4 -0.311413  0.505751 -0.244035
5 -0.481738  0.185585  0.272012
6 -1.103765  0.571986 -0.363158

In [20]:
df.ix[:4, 1] = np.nan

/home/wangyue/miniconda2/envs/gluon/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [21]:
df

          0         1         2
0  0.728386       NaN  1.321758
1 -3.060351       NaN -1.335612
2  0.142823       NaN -0.037969
3 -0.008153       NaN -2.132086
4 -0.311413       NaN -0.244035
5 -0.481738  0.185585  0.272012
6 -1.103765  0.571986 -0.363158

In [22]:
df.ix[:2, 2] = np.nan

In [23]:
df

          0         1         2
0  0.728386       NaN       NaN
1 -3.060351       NaN       NaN
2  0.142823       NaN       NaN
3 -0.008153       NaN -2.132086
4 -0.311413       NaN -0.244035
5 -0.481738  0.185585  0.272012
6 -1.103765  0.571986 -0.363158

In [24]:
df.fillna(0)

          0         1         2
0  0.728386  0.000000  0.000000
1 -3.060351  0.000000  0.000000
2  0.142823  0.000000  0.000000
3 -0.008153  0.000000 -2.132086
4 -0.311413  0.000000 -0.244035
5 -0.481738  0.185585  0.272012
6 -1.103765  0.571986 -0.363158

In [25]:
df

          0         1         2
0  0.728386       NaN       NaN
1 -3.060351       NaN       NaN
2  0.142823       NaN       NaN
3 -0.008153       NaN -2.132086
4 -0.311413       NaN -0.244035
5 -0.481738  0.185585  0.272012
6 -1.103765  0.571986 -0.363158

In [26]:
df.fillna(0, inplace = True)

In [27]:
df

          0         1         2
0  0.728386  0.000000  0.000000
1 -3.060351  0.000000  0.000000
2  0.142823  0.000000  0.000000
3 -0.008153  0.000000 -2.132086
4 -0.311413  0.000000 -0.244035
5 -0.481738  0.185585  0.272012
6 -1.103765  0.571986 -0.363158