In [29]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

# 汇总和计算描述统计

* 求和

In [3]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
              index = ['a', 'b', 'c', 'd'],
              columns = ['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [4]:
df.sum()  # 按列求和

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis = 1)  # 按行求和

a    1.40
b    2.60
c     NaN
d   -0.55
dtype: float64

* 平均数

In [8]:
df.mean(axis = 1, skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [9]:
df.mean(axis = 1)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

* 其它

In [10]:
df.idxmax()

one    b
two    d
dtype: object

In [11]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [12]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [13]:
obj = Series(['a', 'a', 'b', 'c'] * 4)

In [14]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [15]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

* 相关系数与协方差

In [16]:
all_data = {}

NameError: name 'web' is not defined

* 去重

In [20]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [21]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [22]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [23]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

* 判断元素存在

In [24]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [25]:
 obj[mask] #只打印元素b和c

0    c
5    b
6    b
7    c
8    c
dtype: object

In [26]:
data = DataFrame({'Qu1':[1, 3, 4, 3, 4],
                  'Qu2':[2, 3, 1, 2, 3],
                  'Qu3':[1, 5, 2, 4, 4]})

In [27]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [30]:
data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [31]:
data.apply(pd.value_counts, axis = 1).fillna(0)

     1    2    3    4    5
0  2.0  1.0  0.0  0.0  0.0
1  0.0  0.0  2.0  0.0  1.0
2  1.0  1.0  0.0  1.0  0.0
3  0.0  1.0  1.0  1.0  0.0
4  0.0  0.0  1.0  2.0  0.0